Ext.define('{{package}}.model.{{tableName}}', {
    extend: 'Ext.data.Model',
    fields: [
        {{#columns}}
		{
			name: '{{columnName}}' {{#isInt}},
			type: 'int'
			{{/isInt}}
		}{{#isLessThanTotal}} ,{{/isLessThanTotal}}
		{{/columns}}
    ]
});